{% extends 'base.html' %}

{% block title %}Deleting medicine {% endblock %}

{% block content %}

<h1>Deleting medicine</h1>
<h2>You are about to delete medicine</h2>
<form method="POST" action="{{url_for('medicine.delete_medicine')}}">
    <label>
        <input type="checkbox" name="confirmation">
        I want to delete medicine.
    </label><br>
    <input type="number" name="med_id" Placeholder="Medicine id: "><br>
    <input type="submit" value="Submit"><br>
</form>

<a href="{{url_for('menu')}}">Back to menu</a>

{% endblock %}